<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>ログインフォーム</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap-theme.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/validate.js" th:src="@{/js/validate.js}"></script>
</head>

<body>

<div class="container">
    <h1>顧客管理システム</h1>
    
    <form class="form-signin" method="post" th:action="@{/login}">
        <h2 class="form-signin-heading">ログインフォーム</h2>

		<div th:if="${param.error}" class="alert alert-danger">
           	 <span th:text="#{err.login.message}">ユーザー名またはパスワードが正しくありません。</span>
        </div>
        
        <div id="errDiv"></div>
        <input type="text" class="form-control navbar-btn" name="username" placeholder="Username" autofocus="autofocus" id="username" />
        <input type="password" class="form-control navbar-btn" name="password" placeholder="Password" id="password" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>